<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Id="ORGFOLDER" Name="WSO2">
				<Directory Id="INSTALLFOLDER" Name="Integrator" />
			</Directory>
			<Directory Id="BALLERINAFOLDER" Name="Ballerina" />
		</StandardDirectory>

		<StandardDirectory Id="ProgramMenuFolder" />
		<StandardDirectory Id="DesktopFolder" />

	</Fragment>
</Wix>