<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
    <ComponentGroup Id="IntegratorComponents" Directory="INTEGRATORFOLDER">
      <Files Include=".\payload\Integrator\**">
        <Exclude Files=".\payload\Integrator\WSO2 Integrator.exe" />
      </Files>
      <Component Id="Wso2IntegratorExe" Guid="*">
        <File Source=".\payload\Integrator\WSO2 Integrator.exe" />
        <!-- <Shortcut Id="Wso2IntegratorStartMenuShortcut"
          Directory="ProgramMenuFolder"
          Name="WSO2 Integrator"
          WorkingDirectory="INSTALLFOLDER"
          Advertise="no" /> -->
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>