<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="WSO2-Integrator"
    Version="1.0.0.0"
    Manufacturer="WSO2"
    UpgradeCode="344b046a-fa6a-4452-be40-2794f59fe7b0"
  >
    <Binary Id="ExtActionsDll" SourceFile="..\CustomAction1\bin\Debug\net472\CustomAction1.CA.dll" />
    <CustomAction Id="copySettingsFileToUserhomeCA" BinaryRef="ExtActionsDll" DllEntry="copySettingsFileToUserhome"/>
    <InstallExecuteSequence>
      <Custom Action="copySettingsFileToUserhomeCA" After="InstallFiles"/>
    </InstallExecuteSequence>
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
    <MediaTemplate EmbedCab="yes" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <Feature Id="Main">
      <ComponentGroupRef Id="Wso2IntegratorComponents" />
      <ComponentGroupRef Id="SettingsComponents" />
    </Feature>
  </Package>
</Wix>