<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
    <ComponentGroup Id="Wso2IntegratorComponents" Directory="INSTALLFOLDER">
		<Files Include=".\payload\**">
      <Exclude Files=".\payload\settings.json"/>
      <Exclude Files=".\payload\Integrator\Code.exe"/>  <!-- TODO: Need to change it to WSO2-Integrator.exe -->
    </Files>
	  <Component>
			<File Source=".\payload\Integrator\Code.exe" /> <!-- TODO: Need to change it to WSO2-Integrator.exe -->
	  </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
