[Desktop Entry]
Name=WSO2 Integrator - URL Handler
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/usr/share/WSO2-Integrator/Integrator/wso2-integrator --open-url %U
Icon=com.wso2.integrator
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/wso2-integrator;
Keywords=wso2, wso2-integrator, integrator;
